*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 500;
}
body {
  /* display: flex;
  flex-direction: column;
  text-align: center; */
}
.landing-page {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background-image: url('./assets/lighthouse-red.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
}
h1 {
  color: #855328;
  font-family: 'Lemonada', cursive;
  font-size: 55px;
  margin-top: -30px;
}
button,
input {
  width: 500px;
  height: 60px;
  margin: 20px;
  border-radius: 15px;
  font-size: 24px;
  color: #FFF;
  background-color: #566B86;
}
input {
  padding: 5px;
  height: 45px;
}
.login {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background-color: rgba(255,255,255,0.45);
  margin-top: 50px;
  width: 50%;
  padding: 50px;
  border-radius: 15px;
}
button:hover {
  background-color: #38485D;

}
