21
body {
  display: flex;
  flex-direction: column;
  text-align: center;
}
h1 {
  color: indianred;
}
button,
input {
  width: 400px;
  height: 50px;
  margin: 10px;
  border-radius: 25px;
  border: 5px solid indianred;
  font-size: 20px;
}
input {
  padding: 5px;
  height: 45px;
  background-color: blue;
}
